.bg-gray{
    background-color: lightgray;
    font-family: Calibri, arial;
}

h1{
    margin-bottom: 70px;
}
  
.main{
    margin: auto;
    border: auto;
    padding: 50px;    
}
  
.audio-div{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    background: rgba(0,255,0,0.4);
    width: 275px;
}
  
p{
    font-size: 25px;
    padding: 0px 20px;
    margin: 5px
}

@media (max-width: 1000px) {
    .audio-div{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 15px 15px 100px 15px;
    border-radius: 7px;
    margin: 15px;
    background: rgba(0,255,0,0.4);
    width: auto;
    height: auto;
    display: inline-block;
    }
}